        @{
            ViewData["Title"] = "Home Page";
        }

        <div class="text-center">
            <peter>THIS IS THE PETER TAG HELPER ON VIEW PAGE</peter>
            <p>THIS IS THE P TAG HELPER ON VIEW PAGE</p>
        </div>
